Service References/UnidadesCadastroReference/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://app.omie.com.br/api/v1/geral/unidade/?WSDL" xmlns:s="http://www.w3.org/2001/XMLSchema" targetNamespace="http://app.omie.com.br/api/v1/geral/unidade/?WSDL" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema targetNamespace="http://app.omie.com.br/api/v1/geral/unidade/?WSDL">
      <s:complexType name="unidade_cadastro">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="codigo" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descricao" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="unidade_cadastroArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:attribute wsdl:arrayType="tns:unidade_cadastro[]" ref="soapenc:arrayType" />
          </s:restriction>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="unidade_cadastro_lista">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="unidade_cadastro" nillable="true" type="tns:unidade_cadastroArray" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="unidade_pesquisar">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="codigo" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="omie_fail">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="code" nillable="true" type="s:integer" />
          <s:element minOccurs="1" maxOccurs="1" name="description" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="referer" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="fatal" type="s:boolean" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetVersionSoapIn" />
  <wsdl:message name="GetVersionSoapOut">
    <wsdl:part name="string" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListarUnidadesSoapIn">
    <wsdl:part name="unidade_pesquisar" type="tns:unidade_pesquisar" />
  </wsdl:message>
  <wsdl:message name="ListarUnidadesSoapOut">
    <wsdl:part name="unidade_cadastro_lista" type="tns:unidade_cadastro_lista" />
  </wsdl:message>
  <wsdl:portType name="UnidadesCadastroSoap">
    <wsdl:operation name="GetVersion">
      <wsdl:input message="tns:GetVersionSoapIn" />
      <wsdl:output message="tns:GetVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarUnidades">
      <wsdl:input message="tns:ListarUnidadesSoapIn" />
      <wsdl:output message="tns:ListarUnidadesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UnidadesCadastroSoap" type="tns:UnidadesCadastroSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="GetVersion">
      <soap:operation soapAction="http://app.omie.com.br/api/v1/geral/unidade/?WSDLGetVersion" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://app.omie.com.br/api/v1/geral/unidade/?WSDL" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://app.omie.com.br/api/v1/geral/unidade/?WSDL" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" parts="string" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarUnidades">
      <soap:operation soapAction="http://app.omie.com.br/api/v1/geral/unidade/?WSDLListarUnidades" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://app.omie.com.br/api/v1/geral/unidade/?WSDL" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" parts="unidade_pesquisar" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://app.omie.com.br/api/v1/geral/unidade/?WSDL" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" parts="unidade_cadastro_lista" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UnidadesCadastro">
    <wsdl:port name="UnidadesCadastroSoap" binding="tns:UnidadesCadastroSoap">
      <soap:address location="http://app.omie.com.br/api/v1/geral/unidade/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>