Service References/CategoriaCadastroReference/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://app.omie.com.br/api/v1/geral/categorias/?WSDL" xmlns:s="http://www.w3.org/2001/XMLSchema" targetNamespace="http://app.omie.com.br/api/v1/geral/categorias/?WSDL" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema targetNamespace="http://app.omie.com.br/api/v1/geral/categorias/?WSDL">
      <s:complexType name="categoria_cadastro">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="codigo" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descricao" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descricao_padrao" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="conta_inativa" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="definida_pelo_usuario" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="id_conta_contabil" nillable="true" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="tag_conta_contabil" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="conta_despesa" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nao_exibir" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="natureza" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="conta_receita" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="totalizadora" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="transferencia" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="categoria_cadastroArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:attribute wsdl:arrayType="tns:categoria_cadastro[]" ref="soapenc:arrayType" />
          </s:restriction>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="categoria_consultar">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="codigo" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="categoria_list_request">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="pagina" nillable="true" type="s:integer" />
          <s:element minOccurs="1" maxOccurs="1" name="registros_por_pagina" nillable="true" type="s:integer" />
          <s:element minOccurs="1" maxOccurs="1" name="apenas_importado_api" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ordenar_por" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ordem_descrescente" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="categoria_listfull_response">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="pagina" nillable="true" type="s:integer" />
          <s:element minOccurs="1" maxOccurs="1" name="total_de_paginas" nillable="true" type="s:integer" />
          <s:element minOccurs="1" maxOccurs="1" name="registros" nillable="true" type="s:integer" />
          <s:element minOccurs="1" maxOccurs="1" name="total_de_registros" nillable="true" type="s:integer" />
          <s:element minOccurs="1" maxOccurs="1" name="categoria_cadastro" nillable="true" type="tns:categoria_cadastroArray" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="omie_fail">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="code" nillable="true" type="s:integer" />
          <s:element minOccurs="1" maxOccurs="1" name="description" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="referer" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="fatal" type="s:boolean" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConsultarCategoriaSoapIn">
    <wsdl:part name="categoria_consultar" type="tns:categoria_consultar" />
  </wsdl:message>
  <wsdl:message name="ConsultarCategoriaSoapOut">
    <wsdl:part name="categoria_cadastro" type="tns:categoria_cadastro" />
  </wsdl:message>
  <wsdl:message name="ListarCategoriasSoapIn">
    <wsdl:part name="categoria_list_request" type="tns:categoria_list_request" />
  </wsdl:message>
  <wsdl:message name="ListarCategoriasSoapOut">
    <wsdl:part name="categoria_listfull_response" type="tns:categoria_listfull_response" />
  </wsdl:message>
  <wsdl:portType name="CategoriasCadastroSoap">
    <wsdl:operation name="ConsultarCategoria">
      <wsdl:input message="tns:ConsultarCategoriaSoapIn" />
      <wsdl:output message="tns:ConsultarCategoriaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarCategorias">
      <wsdl:input message="tns:ListarCategoriasSoapIn" />
      <wsdl:output message="tns:ListarCategoriasSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CategoriasCadastroSoap" type="tns:CategoriasCadastroSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="ConsultarCategoria">
      <soap:operation soapAction="http://app.omie.com.br/api/v1/geral/categorias/?WSDLConsultarCategoria" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://app.omie.com.br/api/v1/geral/categorias/?WSDL" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" parts="categoria_consultar" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://app.omie.com.br/api/v1/geral/categorias/?WSDL" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" parts="categoria_cadastro" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarCategorias">
      <soap:operation soapAction="http://app.omie.com.br/api/v1/geral/categorias/?WSDLListarCategorias" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://app.omie.com.br/api/v1/geral/categorias/?WSDL" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" parts="categoria_list_request" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://app.omie.com.br/api/v1/geral/categorias/?WSDL" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" parts="categoria_listfull_response" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CategoriasCadastro">
    <wsdl:port name="CategoriasCadastroSoap" binding="tns:CategoriasCadastroSoap">
      <soap:address location="http://app.omie.com.br/api/v1/geral/categorias/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>