Service References/FormaPagVendasReference/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://app.omie.com.br/api/v1/produtos/formaspagvendas/?WSDL" xmlns:s="http://www.w3.org/2001/XMLSchema" targetNamespace="http://app.omie.com.br/api/v1/produtos/formaspagvendas/?WSDL" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema targetNamespace="http://app.omie.com.br/api/v1/produtos/formaspagvendas/?WSDL">
      <s:complexType name="venparListarRequest">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="pagina" nillable="true" type="s:integer" />
          <s:element minOccurs="1" maxOccurs="1" name="registros_por_pagina" nillable="true" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="ordenar_por" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ordem_decrescente" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="venparListarResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="pagina" nillable="true" type="s:integer" />
          <s:element minOccurs="1" maxOccurs="1" name="total_de_paginas" nillable="true" type="s:integer" />
          <s:element minOccurs="1" maxOccurs="1" name="registros" nillable="true" type="s:integer" />
          <s:element minOccurs="1" maxOccurs="1" name="total_de_registros" nillable="true" type="s:integer" />
          <s:element minOccurs="1" maxOccurs="1" name="cadastros" nillable="true" type="tns:cadastrosArray" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="cadastros">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="cCodigo" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nQtdeParc" nillable="true" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" name="cDescricao" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="cadastrosArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:attribute wsdl:arrayType="tns:cadastros[]" ref="soapenc:arrayType" />
          </s:restriction>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="omie_fail">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="code" nillable="true" type="s:integer" />
          <s:element minOccurs="1" maxOccurs="1" name="description" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="referer" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="fatal" type="s:boolean" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListarFormasPagVendasSoapIn">
    <wsdl:part name="venparListarRequest" type="tns:venparListarRequest" />
  </wsdl:message>
  <wsdl:message name="ListarFormasPagVendasSoapOut">
    <wsdl:part name="venparListarResponse" type="tns:venparListarResponse" />
  </wsdl:message>
  <wsdl:portType name="FormasPagVendasSoap">
    <wsdl:operation name="ListarFormasPagVendas">
      <wsdl:input message="tns:ListarFormasPagVendasSoapIn" />
      <wsdl:output message="tns:ListarFormasPagVendasSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FormasPagVendasSoap" type="tns:FormasPagVendasSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="ListarFormasPagVendas">
      <soap:operation soapAction="http://app.omie.com.br/api/v1/produtos/formaspagvendas/?WSDLListarFormasPagVendas" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://app.omie.com.br/api/v1/produtos/formaspagvendas/?WSDL" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" parts="venparListarRequest" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://app.omie.com.br/api/v1/produtos/formaspagvendas/?WSDL" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" parts="venparListarResponse" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FormasPagVendas">
    <wsdl:port name="FormasPagVendasSoap" binding="tns:FormasPagVendasSoap">
      <soap:address location="http://app.omie.com.br/api/v1/produtos/formaspagvendas/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>